* {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 25px;
	color: darkslategrey;

}

/* Nav bar */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
li {
	float: right;
}
li a {
	display: block;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}
li a:hover{
	background: lightgray;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display:none;
}

/* Next & previous buttons */

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s easy;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px o 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,8.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/2 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
} 



/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0.2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover{
	background-color: #717171;
}
/* Fading animation  DELETED ON HTML FILE */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}



/* Content, About me, portafolio */

main {
	margin-top: 50px;
}

.flex-container {
	display: flex;
	justify-content: center;
}
.flex-container, #mypicture, #about, #myportafolio, #portafolio, #myit{
	justify-content: center;
	margin: 10px;
	padding: 20px;
}

/* Footer */

footer {
	float: left;
	list-style-type: circle;

}


